nav {
display: flex;
justify-content: center;

}

.aram_is_bigger_than_sam > ul > li  {
  padding-top: 10px;
  margin-right: 15px;
}

.sam_cus_its_special > li:last-child {
  border-bottom: 1px solid black;
}